<!--Header-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" *ngIf="bookmarksNumber > 1">Video Player - You have {{bookmarksNumber}} bookmarks.</span>
        <span class="navbar-brand" *ngIf="2 > bookmarksNumber">Video Player - You have {{bookmarksNumber}} bookmark.</span>
      </div>
      <div class="nav navbar-nav navbar-right">
        <button class="navbar-btn btn-sm btn-success"
                *ngIf="!showBookmarks"
                (click)="onShowBookmarks()"><i class="fas fa-bookmark"></i> Show bookmarks
        </button>
        <button class="navbar-btn btn-sm btn-danger"
                *ngIf="showBookmarks"
                (click)="onShowBookmarks()"><i class="fas fa-bookmark"></i> Hide bookmarks
        </button>
      </div>
    </div>
  </nav>


<!--Content-->
<div class="container">
  <div class="row">
    <app-search-bar [videoView]="videoView"></app-search-bar>
    <app-history [videoView]="videoView" class="col-md-4" *ngIf="!showBookmarks"></app-history>
    <app-bookmarks [videoView]="videoView" class="col-md-4" *ngIf="showBookmarks"></app-bookmarks>
    <app-video-view #videoView class="col-md-8"></app-video-view>
  </div>
</div>